*.pbxproj
*.xcworkspacedata
*.xcbkptlist
WhichWay/keys.plist
*.plist

# Large GTFS data files
WhichWayTests/gtfs_subway.zip
WhichWayTests/stop_times.txt
WhichWayTests/shapes.txt
WhichWayTests/trips.txt
